// Full page Layout
html {
    height: 100%;
    
    // Button overrides
    .btn {
        text-transform: uppercase;
        font-size: 1.1em;
        font-family: $fira;
        font-weight: $font-weight-bold;
        line-height: 1em;
        
        &.btn-lg {
            border-width: 2px;
        }

        &.btn-rounded {
            border-radius: 2rem;
        }
    }

    * {
        text-rendering: unset;
    }
}

body {
    height: 100%;
    font-size: 14px;

    #app {
        height: auto !important;
        min-height: 100%;
        overflow-x: initial;

        .site-wrapper {
            display: flex;
            flex-direction: column;
            
            main {
                flex-grow: 1;
            }
            
            &.full-height {
                height: 100vh;
            }
        }

    }

}

.mobile-menu {
    display: none;
    
    &.open {
        display: block;
        width: 100%;
        z-index: 5;
        padding: 11rem 2rem 2rem;
        color: #FFF;
        margin-bottom: -2rem;

        background: -moz-linear-gradient(top, $orange 0%, $pink 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $orange 0%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $orange 0%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$orange, endColorstr=$pink,GradientType=1 ); /* IE6-9 */

        ul.navbar-nav {
            
            li {
                a {
                    font-size: 1.4em;
                    color: #FFF;
                    font-family: $fira;
                }

                .dropdown-menu {
                    border-radius: 4px;
                    background-color: $navy;
                    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
        
                    a {
                        font-size: 1.2em;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.top {
    transition: all .5s linear;
    position: relative;
    z-index: 6;
    position: absolute;
    width: 100%;

    @media (min-width: 768px){
        position: fixed;
    }

    .logo img {
        width: 250px;
        transition: width .5s ease-out;
        margin: 5px 10px 10px;

        @media (min-width: 768px) {
            width: 300px;
        }

        @media (min-width: 1024px) {
            margin: 0;
            width: 375px;
            position: absolute;
            left: 10px;
            top: 5px;
        }
    }

    .btn {
        letter-spacing: 2px;
        font-size: 20px;
        font-family: $fira;
        font-weight: 700;
        margin: 0 1rem;
    }

    .topnav {
        height: 100%;
        padding: 0;

        .container {
            flex-direction: column-reverse;

            @media (min-width: 768px){
                flex-direction: row;
            }

            @media (max-width: 767px){
                width: 100% !important;
                margin: 0 !important;
                max-width: none !important;
            }
        }

        a.nav-link {
            color: #FFF;
            padding: .5rem 1rem;
            font-family: $fira;
            font-weight: 700;
            font-size: 18px;

            @media (min-width: 768px){
                color: $primary;
            }

            &:hover {
                color: $navy;
            }

        }

        .nav-item.dropdown:hover {
            background: $secondary;
            border-radius: 5px 5px 0 0;

            a.nav-link {
                color: $white;
            }
        }
        
        .dropdown-menu {
            border: 0;
            border-radius: 0 0 5px 5px;
            padding: .5rem 0;
            margin-top: -2px;
            background-color: $secondary;
            width: 230px;
            border-bottom: $primary 5px solid;

            a.dropdown-item {
                color: #FFF;
                background-color: transparent;
                padding: .5rem 1rem;
                font-family: $fira;
                font-size: 18px;

                &:hover {
                    color: $primary;
                    background-color: $secondary !important;
                }
            }
        }

        .mini-nav {
            width: 100%;
            justify-content: space-between;
            background-color: $white;
            box-shadow: 0 0 5px rgba(0,0,0,.3);
            padding-top: .25rem;
            height: 40px;

            @media (min-width: 768px){
                justify-content: flex-end;
                background-color: transparent;
                box-shadow: none;
            }

            a.link {
                font-family: $fira;
                font-weight: 700;
                font-size: 18px;
                color: $orange;
                margin: -4px 1rem 0;
                line-height: 1em;
            }
        }

        .main-navigation {
            @media (max-width: 767px){
                width: 100%;
            }
        }
    }
}

// Navigation
ul.navbar-nav {
    list-style: none;
    display: flex;

    li {
        a {
            padding: .5rem;
            color: #FFF;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;
            transition: all .5s linear;
        }
    }
}

.mobile-menu-open,
.scrolling {
    .top {

        @media (min-width: 768px){
            background-color: #FFF;
            box-shadow: 0 0 .5rem rgba(0,0,0,.2);

            .logo img {
                width: 309px;
            }
        }
    }
}

// Body Content
main {
    position: relative;
    background: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 2rem 0;

    @media (min-width: 768px){
        padding: 4rem 0;
    }

    article {
        text-align: left;

        header {
            margin-bottom: 1rem;
        }

        p, ul, ol {
            line-height: 1.8em;
            font-size: 16px;
        }

        h1 {
            color: $navy;
            font-size: 3em;
            font-weight: normal;
        }

        h2 {
            color: $secondary;
        }
    }              

    &.front {
        background: url('/themes/wordplate/assets/images/navy-linen.png') center $navy;

        h1 {
            font-weight: normal;
            font-size: 4.5em;
        }

        h1, h2, h3, p {
            color: $white;
        }


    }
}

// Support Content
.header-image {
    background: url('/themes/wordplate/assets/images/default-header.jpg') center no-repeat $white;
    background-size: cover;
    background-position: center;
    min-height: 132px;
    display: flex;
    justify-content: center;
    text-align: center;

    @media (min-width: 768px){
        min-height: 120px;
    }

    &.support {
        padding: 3rem 1rem;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-bottom: 2px solid $orange;

        &::after {
            content: " ";
            position: absolute;
            background-color: rgba(255,255,255,.5);
            top:0; bottom: 0; left: 0; right: 0;
        }
        
        .container {
            display: flex;
            height:100%;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
        }
    }
}

.mobile-menu-open .header-image {
    min-height: 34px;
    padding: 0;
}

// Main Slider
.slider-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    margin-top: 2rem;
    max-height: 100vh;

    @media (min-width: 576px){
        margin-top: 0;
        height: 400px;
    }

    @media (min-width: 768px){
        height: 700px;
    }

    @media (min-width: 992px){
        height: 970px;
    }

    .slide-content {
        padding: 6rem 0 0;
        @media (min-width: 768px){
            padding: 0;
        }
    }

    .slider-text {
        background: url('/themes/wordplate/assets/images/watercolor.png') center no-repeat;
        background-size: 100% 100%;

        p {
            font-size: 37px;
            color: #FFF;
            text-shadow: 0 0 5px rgba(0,0,0,.4);
            width: 1000px;
            max-width: 100%;
            margin: auto;
            line-height: 0.85em;
            padding: 4rem 2rem;

            @media (min-width: 576px){
                font-size: 50px;
            }
        
            @media (min-width: 768px){
                font-size: 60px;
            }
        
            @media (min-width: 992px){
                font-size: 80px;
            }
        }
    }
}

.mobile-menu-open .slider-container {
    .slide-content {
        padding: 0;
    }
}

.weather-page {
    i {
        font-size: 2.5em;
        color: $navy;
    }

    span {
        color: $info;
    }

    .current-conditions {
        span {
            font-size: 2em;
        }
    }
}

// Portfolio
.portfolio-gallery {
    padding: 2rem 1rem;

    .portfolio-filters {
        padding: .5rem 0 1.5rem;

        .col-auto {
            padding: .5rem;
        }
    }
    
    .project-tile {
        margin: .5rem 0;
    }

    .project-button {
        margin-top: -2rem;
        position: relative;
        margin-bottom: 2rem;

        .btn {
            background-color: #FFF;
        }
    }
}

.section-button {
    padding: 0 1rem 3rem;
    @media (min-width: 576px){
        padding: 0 1rem 4rem;
    }
    @media (min-width: 768px){
        padding: 1rem 1rem 5rem;
    }
}

// Testimonial Section
.testimonial-section {
    background-image: url('/themes/wordplate/assets/images/pavers.jpg');
    background-size: cover;
    background-position: center;
    background-color: $dark;
    padding: 1rem 1rem 0;
    color: #FFF;
}

// Feature Box Section
.feature-box-section {
    padding: 3rem 0;

    background: $orange; /* Old browsers */
    background: -moz-linear-gradient(left, $orange 0%, $pink 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $orange 0%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $orange 0%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$orange, endColorstr=$pink,GradientType=1 ); /* IE6-9 */

    .box-container {
        margin: 1rem 0;
    }

    .feature-box {
        min-height: 200px;
        border: 2px solid $white;
        padding: 1.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h3 {
            margin-bottom: 1rem;
            font-family: $fira;
            font-size: 2.4em;

            @media (min-width: 768px){
                max-width: 188px;
                margin-bottom: 2rem;
            }

        }

        p {
            margin-bottom: 1rem;

            @media (min-width: 768px){
                margin-bottom: 2rem;
            }

        }

        .btn {
            padding-left: 1.5rem;
            line-height: 1.5em;
        }

        i {
            margin: 0 1rem;
        }

        &.feat-two {
            background: url('/themes/wordplate/assets/images/photo-gallery-bg.jpg') no-repeat;
            background-size: cover;
        }
    }

}

// Team
.team-grid {
    padding: 0;
    
    .team-member {
        margin: .5rem 0;
    }

    .member-button {
        margin-top: -2rem;
        position: relative;
        margin-bottom: 2rem;

        .btn {
            background-color: #FFF;
        }
    }
}

.quick-search {
    position: relative;
    padding: 2rem 0;
    background-color: rgba(78,186,203,.9);

    @media (min-width: 768px){
        margin-top: -100px;
    }

    h2 {
        font-family: $abeezee;
        font-weight: 400;
    }
}

// Testimonials
.testimonials {
    .testimonial {
        padding-top: 2.75rem;

        &.list {
            padding-bottom: 2rem;
            border-bottom: 1px solid $light;
        }

        &:last-child {
            border: none;
        }

        &.single .author,
        .testimonial-date {
            color: $light;
            text-transform: uppercase;
        }

        &.single {
            padding-top: 3.5rem;

            p {
                font-weight: 600;
                line-height: 1.8em;
            }
            .author {
                padding: 1.5rem 0 1rem;
                font-size: .9em;
                font-weight: 400;
            }
        }
    }
}

// Footer
footer {
    color: $navy;

    .footer-container {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    a {
        color: $navy;

        &:hover {
            text-decoration: underline;
            color: $navy;
        }
    }

    h3 {
        margin-top: 2rem;
        font-weight: normal;
        font-size: 40px;
        color: $info;
    }

    .nav-item {
        a {
            font-family: $fira;
            font-weight: 700;
            font-size: 18px;
            padding: 0 0 5px;
            text-transform: uppercase;
            display: block;
        }
    }

    .footer-content {
        padding: 1rem;
    }

    .contact-info {
        font-family: $fira;
        font-size: 18px;

        a {
            font-family: $fira;
            font-size: 18px;
        }

        em {
            font-family: $cookie;
            font-size: 22px;
            line-height: 1em;
        }
    }

    .bot-bot {
        background-color: #f3f0e8;
    }

    .copyright {
        color: $dark;
        font-size: 12px;
        margin: 0;
        line-height: 1.5rem;
    }

    .siteby {
        display: inline-block;
        padding: 0 1rem;
    }
}